<template>
  <v-app id="sandbox" :dark="dark">

    <!-- NAVIGATION -->
    <nav>
      <v-toolbar app clipped-left>
      <v-toolbar-title>SPARTEZ</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon @click.stop="primaryDrawer.model = !primaryDrawer.model "></v-toolbar-side-icon>
      </v-toolbar>
    </nav>
    <!-- END NAVIGATION -->
    <!-- SIDEBAR -->
    <v-navigation-drawer
      v-model="primaryDrawer.model"
      v-bind:permanent="primaryDrawer.type === 'permanent'"
      :temporary="primaryDrawer.type === 'temporary'"
      :clipped="primaryDrawer.clipped"
      :floating="primaryDrawer.floating"
      :mini-variant="primaryDrawer.mini"
      fixed
      overflow
      app
      right
      class="grey darken-4 ">
      <Tags @tag-toggled="tagToggled"></Tags>
      <v-divider></v-divider>
      <v-btn round color="primary"
             small light
             @click="search">SEARCH
      </v-btn>
      <!-- categories -->
      <v-divider class="pb-30"></v-divider>
    </v-navigation-drawer>
    <!-- END SIDEBAR -->
    <v-content v-cloak>
      <News :news="news"></News>
    </v-content>
    <v-footer :inset="footer.inset" app>
      <span class="px-3">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import BlogEntry from './views/BlogEntry.vue';
  import Tags from './views/Tags.vue';
  import APIservice from './APIservice';
  import News from './views/News.vue';

  export default {
    components: {
      BlogEntry,
      Tags,
      News,
    },
    data: () => ({
      paramsLength:0,
      tags: {},
      news: [],
      dark: true,
      drawers: ['Default (no property)', 'Permanent', 'Temporary'],
      primaryDrawer: {
        model: null,
        type: 'default (no property)',
        clipped: false,
        floating: false,
        mini: false,
      },
      footer: {
        inset: false
      }
    }),
    methods: {
      search() {
        var params = new URLSearchParams();
        for (let tag in this.tags) {
          if (this.tags[tag]) {
            params.append('sources', tag);
          }
        }
        let request = {
          params: params
        };
        APIservice.getNews(request)
          .then(response => {
            this.news = response.data.content;
          });
      },
      tagToggled(tagPayload) {
        this.tags[tagPayload.name] = tagPayload.state;
      },
    },
    mounted() {
      this.search();
    }
  };
</script>
