import { setTimeout } from 'timers';
<template>
    <v-card
      @click="goto"
      @mouseenter.stop="showAnimation = !showAnimation"
      @mouseleave.stop ="showAnimation = !showAnimation"
      hover
      class="newsCard"
    >
    <v-img
      :src="post.img"
      aspect-ratio="2.75"
    ></v-img>
    <v-card-title primary-title class="">
        <h4 class="headline mb-3">{{post.title}}</h4>
        <div>{{post.title}}</div>
    </v-card-title>
    <transition name="fade">
      <p v-show="showAnimation"></p>
    </transition>
  </v-card>

</template>
<script>
  export default {
    name: 'BlogEntry',
    props: {
      post: {
        title: String,
        url: String,
        img: String,
        date: String,
        tag: String,
      },
    },
    data(){
      return{
        showAnimation:false,
      }
    },
    methods: {
      goto() {
        document.location = this.post.url;
      },
    },
    mounted() {
    }
  };
</script>
<style scoped>
  .newsCard {
    cursor: pointer;
    height:100%;
    overflow: hidden;
    position: relative;
    transition: width .2s ease-in-out;
  }
  p{
    top:0;
    bottom:0;
    right: 0;
    left:0;
    margin:auto;
    opacity: 0;
    width:100px;
    height: 100px;
    background:red;
    position:absolute;
    border-radius:50% !important;
  }
  .fade-enter-active {
    transition: opacity .5s;
    animation-name: hovers;
    animation-duration: 1.4s;
  }

  @keyframes hovers {
    from{opacity:.7}
    to{opacity: 0; transform: scale(30)}
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
  }
</style>
