<template>
  <v-layout>
    <v-flex>
      <v-container grid-list-xl >
        <v-layout wrap>
          <div v-if = "news.length === 0 || news === undefined "><h2>No news found</h2></div>
          <v-flex v-else
            v-for="post in news"
            :key="post.url" xs12 sm6 lg3 md4  >
            <BlogEntry :post="post"></BlogEntry>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>
<script>
  import BlogEntry from './BlogEntry.vue';

  export default {
    components: {
      BlogEntry,
    },
    name: 'News',
    props: {
      news: Array,
    }
  };
</script>

<style scoped>

</style>
