<template>
  <div class="tag">
    <v-chip
      :disabled="isDisabled"
      :outline="isDisabled"
      :selected="true"
      color="rgba(220, 0, 0, 1)"
      light small
      :text-color="isDisabled ? '#c3c3c3' : 'white'"
      @click="toggle">{{tag}}
    </v-chip>
  </div>
</template>

<script>
  export default {
    name: 'Tag',
    props: {
      tag: {
        type: String,
        required: true
      },
    },
    data() {
      return {
        isDark: false,
        isDisabled: false,
      };
    },
    methods: {
      toggle() {
        this.isDisabled = !this.isDisabled;
        this.$emit('tag-toggled', {
          name: this.tag,
          state: !this.isDisabled
        });
      }
    },
  };
</script>

<style scoped>
  .tag {
    cursor: pointer !important;
  }
</style>
