<template>
  <v-list class="pb-4">
    <!-- tags -->
    <v-subheader>Sources</v-subheader>
    <v-list-tile v-for="tag in this.tags"
                 :key="tag.source">
      <Tag
        @tag-toggled="tagToggled"
        :tag="tag.source"/>
    </v-list-tile>
  </v-list>
</template>

<script>
  import Tag from './Tag.vue';
  import APIService from './../APIservice.js';

  export default {
    components: {
      Tag,
    },
    name: 'Tags',
    data() {
      return {
        tags: Array,
      };
    },
    methods: {
      tagToggled(tagState) {
        this.$emit('tag-toggled', tagState);
      }
    },
    mounted() {
      APIService.getAllTags()
        .then(response => {
          this.tags = response.data;
          for (let tag in this.tags) {
            this.$emit('tag-toggled', {
              name: this.tags[tag].source,
              state: true
            });
          }
        });
    },
  };
</script>

<style scoped>

</style>
